/* ========> Root <======== */

:root {
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    :root {
        font-size: 15px;
    }
}

@media screen and (max-width: 200px) {
    :root {
        font-size: 10px;
    }
}

/* &======> Container <======= */

@media screen and (max-width: 1400px) {
    .container {
        width: 100%;
        overflow: hidden;
    }
}

/* &======> Home <======= */

@media screen and (max-width: 1200px) {
    .home .container {
        max-width: 1200px;
        padding-inline: 5.625rem;
    }
}

@media screen and (max-width: 992px) {
    .home .container {
        padding: 0;
    }
    .home .logo {
        padding-left: 4.5rem;
    }
    .home .navbar-links-style {
        gap: 0.625rem;
        font-weight: 300;
        padding-right: 4.5rem;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .home .logo {
        padding-left: 1.25rem;
    }
    .home .navbar-toggler {
        padding-right: 1.25rem;
    }
    .home .nav-link::after {
        display: none;
    }
    .home .navbar-links-style {
        padding: 0;
        background-color: white;
        line-height: 1.5625rem;
        padding-block: 1.5rem;
    }
    .home .nav-link {
        text-align: center;
        color: #000;
    }
}

@media screen and (max-width: 576px) {
    .home-layer .layer-content h1 {
        font-size: 1.8rem;
    }
    .home-layer .layer-content .typing-text {
        font-size: 1.5rem;
    }
    .home-layer ul.home-icons {
        gap: 0;
        font-size: 0.8rem;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}


/* &======> Fixed Navigation <======= */

@media screen and (max-width: 1200px) {
    .fixed-nav .container {
        max-width: 1200px;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    .fixed-nav .logo {
        padding-left: 4.5rem;
    }
    .fixed-nav .navbar-links-style {
        gap: 0.625rem;
        font-weight: 300;
        padding-right: 4.5rem;
    }
}

@media screen and (max-width: 767px) {
    .fixed-nav .logo {
        padding-left: 1.25rem;
    }
    .fixed-nav .navbar-toggler {
        padding-right: 1.25rem;
    }
    .fixed-nav .nav-link::after {
        display: none;
    }
    .fixed-nav .navbar-links-style {
        padding: 0;
        background-color: white;
        line-height: 1.5625rem;
        padding-block: 1.5rem;
    }
    .fixed-nav .nav-link {
        text-align: center;
        color: #000;
    }
}

/* &======> About <======= */

@media screen and (max-width: 1200px) {
    .about .container {
        max-width: 1200px;
        padding-inline: 5.625rem;
    }
}
@media screen and (max-width: 767px) {
    .hero .container {
        padding: 1.25rem 0.625rem 0 0.625rem;
    }

    .about .about-content {
        margin-top: 3.125rem;
    }
}

@media screen and (max-width: 350px) {
    .about-content .buttons .btn-style:first-child {
        margin-bottom: 1.25rem;
    }
}

/* &======> Services <======= */

@media screen and (max-width: 1200px) {
    .services .container {
        padding-inline: 5.625rem;
    }
}

/* &======> Works <======= */

@media screen and (max-width: 1200px) {
    .works .container {
        padding-inline: 5.625rem;
    }
}


@media screen and (max-width: 500px) {
    .works .works-links {
        gap: 8px;
    }
}

@media screen and (max-width: 280px) {
    .works .works-links {
        gap: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}


/* &======> Resbonisveness for SmartWatches  <======= */

@media screen and (max-width: 200px) {
    .home {
        height: 200px;
    }
    .home .logo {
        padding-left: 0.5rem;
    }
    .home .navbar-toggler {
        padding-right: 0.5rem;
    }
    .home .navbar-links-style {
        line-height: 0.625rem;
        padding-block: 0.625rem;
    }
    .fixed-nav .logo {
        padding-left: 0.5rem;
    }
    .fixed-nav .navbar-toggler {
        padding-right: 0.5rem;
    }
    .fixed-nav .navbar-links-style {
        line-height: 0.625rem;
        padding-block: 0.625rem;
    }
    .services-title h1, .testimonials-title h1, .works-title h1, .contact-title h1 {
        font-size: 1.8rem;
    }
    .services-box i {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1rem;
    }
    .services-box h6 {
        font-size: 0.8rem;
    }
    .services-box p {
        font-size: 0.6rem;
        line-height: 0.375rem;
    }
    .works {
        padding: 0;
    }
    .works .works-title {
        font-size: 1rem;
    }
    .works .works-links {
        font-size: 0.5rem;
        font-weight: 400;
    }

    .carousel-content p {
        font-size: 0.8rem;
    }
}